$dragon: #7b092b;
$white: white;

#edit-dragon-modal{
    width: 200px;
    margin: auto;
    padding-bottom: 40px;
}

mat-dialog-actions{
    button{
        width: 100px;
    }
}

.mat-icon-button:focus,
.mat-icon-button:hover{
    outline: none;
}

h2{
    color: $dragon;
    font-family: "MedievalSharp", cursive;
    font-weight: bold;
}

.dragon{
    background-color: $dragon;
    color: $white;
}

.close-modal{
    float: right;
}