
$dragon: #7b092b;
$white: white;
$black: black;
$grey: #f1f1f1;

.container{
    padding: 40px 0;

    .dragon{
        color: $dragon;
    }

    .black{
        color: $black;
    }

    .background-dragon{
        background-color: $dragon;
        color: $white;
        width: 100%;
        margin-bottom: 35px;
        font-family: "MedievalSharp", cursive;
       
    }
    
    .mat-header-row {
        background: $grey;
    }
}




